html{
  background: linear-gradient(#001f4d,#4d94ff);
}

.options{
  position: relative;
  top: 50px;
  text-align: center;
  height: 175px;

}

.option{

  margin: 0 20px;
  width: 150px;
  height: 150px;
  display: none;
  background-position: center center;
  background-size: cover;
  position: relative;
  border-radius: 75px;
  transition: 0.3s;
}

.rock{
  background-image: url('rock.jpg');
  border: 3px solid red;
}

.paper{
  background-image: url('paper.jpg');
  border: 3px solid orange;
}
.scissor{
  background-image: url('scissor.jpg');
  border: 3px solid green;
}

.reset{
  background-image: url('restart.jpg');
  border: 3px solid yellow;
  margin-left: 40px;
  width: 150px;
  height: 150px;
/*  display: inline-block;*/
}

.rock:hover{
  transform: scale(1.2);
  box-shadow: 5px 5px 50px red;
}

.paper:hover{
  transform: scale(1.2);
  box-shadow: 5px 5px 50px orange;
}

.scissor:hover{
  transform: scale(1.2);
  box-shadow: 5px 5px 50px green;
}

.reset:hover{
  transform: scale(1.2);
  box-shadow: 5px 5px 50px yellow;
}

.players{
  text-align: center;
  position: relative;
  top: 100px;

}

.info{
  display: inline-block;
  margin: 20px;
}

.user{
  transition: 0.3s;
  background-image: url('boy.jpg');
  background-size: cover;
  width: 200px; height: 200px;
  border-radius: 100px;
  position: relative;
  top: 50px;
  border: 3px solid #663300;
}

.user:hover{
  transform: scale(1.2);
  box-shadow: 5px 5px 50px brown;
}

.computer{
  background-image: url('pc.png');
  background-size: cover;
  width: 200px; height: 200px;
  border-radius: 100px;
  position: relative;
  top: 50px;
  border: 3px solid #66b3ff;
}

.scorecard{
  height: 200px;
  width: 400px;
  position: relative;
  top: 50px;
  vertical-align: top;
}

hr{
  background-color: white ;
  width: 750px;
  height: 2px;
  position: relative;
  top: 75px;

}

.score{
  position: relative;
  height: 200px;
  width: 400px;
  font-size: 75px;
  color: white;
  bottom: 50px;
  font-family: 'Pacifico', cursive;
}

.name{
  display: none;
}

.start{
  background-image: url('start.png');
  width: 160px;
  height: 160px;
  display: inline-block;
  background-position: center center;
  background-size: cover;
  position: relative;
  border-radius: 80px;
  transition: 0.3s;
}

.start:hover{
  transform: scale(1.2);
  box-shadow: 5px 5px 50px red;
}
